PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD="tu_contraseña"
DB_NAME=adrianstore
JWT_SECRET=cambia_este_secreto
BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:4200
